In [1]:
import pandas as pd
import os
import sys

In [2]:
my_path = os.path.abspath('stepik_linear_models-main/datasets/')

In [3]:
datasets = []
for address, dirs, files in os.walk(my_path):
    datasets.append(files)

In [4]:
datasets[0]

['D_loan.csv',
 'D_target.csv',
 'D_close_loan.csv',
 'D_salary.csv',
 'D_pens.csv',
 'D_clients.csv',
 'D_work.csv',
 'D_job.csv',
 'D_last_credit.csv']

In [5]:
loans = pd.read_csv(f"{my_path}/{datasets[0][0]}")
targets = pd.read_csv(f"{my_path}/{datasets[0][1]}")
close_loan  = pd.read_csv(f"{my_path}/{datasets[0][2]}")
salary = pd.read_csv(f"{my_path}/{datasets[0][3]}")
pens = pd.read_csv(f"{my_path}/{datasets[0][4]}")
clients = pd.read_csv(f"{my_path}/{datasets[0][5]}")
work = pd.read_csv(f"{my_path}/{datasets[0][6]}")
job = pd.read_csv(f"{my_path}/{datasets[0][7]}")
last_credit  = pd.read_csv(f"{my_path}/{datasets[0][8]}")

In [238]:
print('loans')
print(loans.head())
print(loans.shape)
print(loans.columns)

print('targets')
print(targets.head())
print(targets.shape)
print(targets.columns)

print('close_loan')
print(close_loan.head())
print(close_loan.shape)
print(close_loan.columns)

print('salary')
print(salary.head())
print(salary.shape)
print(salary.columns)

print('pens')
print(pens.head())
print(pens.shape)
print(pens.columns)

print('clients')
print(clients.head())
print(clients.shape)
print(clients.columns)

print('work')
print(work.head())
print(work.shape)
print(work.columns)

print('job')
print(job.head())
print(job.shape)
print(job.columns)

print('last_credit')
print(last_credit.head())
print(last_credit.shape)
print(last_credit.columns)

loans
      ID_LOAN  ID_CLIENT
0  1753790658  106804370
1  1753790659  106804371
2  1753790660  106804372
3  1753790661  106804372
4  1753790662  106804373
(21126, 2)
Index(['ID_LOAN', 'ID_CLIENT'], dtype='object')
targets
   AGREEMENT_RK  ID_CLIENT  TARGET
0      59910150  106804370       0
1      59910230  106804371       0
2      59910525  106804372       0
3      59910803  106804373       0
4      59911781  106804374       0
(15223, 3)
Index(['AGREEMENT_RK', 'ID_CLIENT', 'TARGET'], dtype='object')
close_loan
      ID_LOAN  CLOSED_FL
0  1753790658          1
1  1753790659          1
2  1753790660          1
3  1753790661          0
4  1753790662          1
(21126, 2)
Index(['ID_LOAN', 'CLOSED_FL'], dtype='object')
salary
            FAMILY_INCOME  PERSONAL_INCOME  ID_CLIENT
0  от 20000 до 50000 руб.          20000.0  106809321
1  от 20000 до 50000 руб.          14000.0  106815561
2  от 10000 до 20000 руб.          15000.0  106811521
3  от 20000 до 50000 руб.          20000.0  106811252
4  от 20000 до 50000 руб.          25000.0  106808620
(15523, 3)
Index(['FAMILY_INCOME', 'PERSONAL_INCOME', 'ID_CLIENT'], dtype='object')
pens
   ID  FLAG       COMMENT
0   1     0     пенсионер
1   2     1  не пенсионер
(2, 3)
Index(['ID', 'FLAG', 'COMMENT'], dtype='object')
clients
          ID  AGE  GENDER            EDUCATION      MARITAL_STATUS  \
0  106805103   42       1              Среднее  Не состоял в браке
1  106809308   28       1  Среднее специальное      Состою в браке
2  106805867   64       0  Среднее специальное      Состою в браке
3  106808779   54       1  Среднее специальное      Состою в браке
4  106814289   26       0  Среднее специальное      Состою в браке

   CHILD_TOTAL  DEPENDANTS  SOCSTATUS_WORK_FL  SOCSTATUS_PENS_FL  \
0            1           0                  1                  0
1            1           1                  1                  0
2            2           0                  1                  1
3            0           0                  1                  0
4            1           1                  1                  0

    REG_ADDRESS_PROVINCE  FACT_ADDRESS_PROVINCE POSTAL_ADDRESS_PROVINCE  \
0     Московская область     Московская область      Московская область
1      Читинская область      Читинская область       Читинская область
2      Иркутская область      Иркутская область       Иркутская область
3  Новосибирская область  Новосибирская область   Новосибирская область
4      Красноярский край      Красноярский край       Красноярский край

   FL_PRESENCE_FL  OWN_AUTO
0               1         0
1               0         0
2               0         1
3               1         1
4               1         0
(16000, 14)
Index(['ID', 'AGE', 'GENDER', 'EDUCATION', 'MARITAL_STATUS', 'CHILD_TOTAL',
       'DEPENDANTS', 'SOCSTATUS_WORK_FL', 'SOCSTATUS_PENS_FL',
       'REG_ADDRESS_PROVINCE', 'FACT_ADDRESS_PROVINCE',
       'POSTAL_ADDRESS_PROVINCE', 'FL_PRESENCE_FL', 'OWN_AUTO'],
      dtype='object')
work
   ID  FLAG      COMMENT
0   1     0     работает
1   2     1  не работает
2   3     2  не известно
(3, 3)
Index(['ID', 'FLAG', 'COMMENT'], dtype='object')
job
                GEN_INDUSTRY                    GEN_TITLE  \
0                   Торговля                      Рабочий
1                   Торговля                      Рабочий
2  Информационные технологии                   Специалист
3                Образование  Руководитель среднего звена
4     Государственная служба                   Специалист

                         JOB_DIR  WORK_TIME  ID_CLIENT
0    Вспомогательный техперсонал       18.0  106804370
1  Участие в основ. деятельности       97.0  106804371
2  Участие в основ. деятельности       84.0  106804372
3  Участие в основ. деятельности      168.0  106804373
4  Участие в основ. деятельности      101.0  106804374
(15223, 5)
Index(['GEN_INDUSTRY', 'GEN_TITLE', 'JOB_DIR', 'WORK_TIME', 'ID_CLIENT'], dtype='object')
last_credit
     CREDIT  TERM  FST_PAYMENT  ID_CLIENT
0   8000.00     6       8650.0  106804370
1  21650.00     6       4000.0  106804371
2  33126.00    12       4000.0  106804372
3   8491.82     6       5000.0  106804373
4  21990.00    12       4000.0  106804374
(15223, 4)
Index(['CREDIT', 'TERM', 'FST_PAYMENT', 'ID_CLIENT'], dtype='object')

In [6]:
clients.head()

,ID,AGE,GENDER,EDUCATION,MARITAL_STATUS,CHILD_TOTAL,DEPENDANTS,SOCSTATUS_WORK_FL,SOCSTATUS_PENS_FL,REG_ADDRESS_PROVINCE,FACT_ADDRESS_PROVINCE,POSTAL_ADDRESS_PROVINCE,FL_PRESENCE_FL,OWN_AUTO
0,106805103,42,1,Среднее,Не состоял в браке,1,0,1,0,Московская область,Московская область,Московская область,1,0
1,106809308,28,1,Среднее специальное,Состою в браке,1,1,1,0,Читинская область,Читинская область,Читинская область,0,0
2,106805867,64,0,Среднее специальное,Состою в браке,2,0,1,1,Иркутская область,Иркутская область,Иркутская область,0,1
3,106808779,54,1,Среднее специальное,Состою в браке,0,0,1,0,Новосибирская область,Новосибирская область,Новосибирская область,1,1
4,106814289,26,0,Среднее специальное,Состою в браке,1,1,1,0,Красноярский край,Красноярский край,Красноярский край,1,0

In [7]:
clients[clients.duplicated('ID')] # нет дубликатов

Empty DataFrame
Columns: [ID, AGE, GENDER, EDUCATION, MARITAL_STATUS, CHILD_TOTAL, DEPENDANTS, SOCSTATUS_WORK_FL, SOCSTATUS_PENS_FL, REG_ADDRESS_PROVINCE, FACT_ADDRESS_PROVINCE, POSTAL_ADDRESS_PROVINCE, FL_PRESENCE_FL, OWN_AUTO]
Index: []

In [8]:
merged_df = pd.merge(clients, salary.set_index('ID_CLIENT'), left_on='ID', right_on='ID_CLIENT', how='left')
merged_df = pd.merge(merged_df, job.set_index('ID_CLIENT'), left_on='ID', right_on='ID_CLIENT', how='left')
merged_df = pd.merge(merged_df, targets.set_index('ID_CLIENT'), left_on='ID', right_on='ID_CLIENT', how='left')
merged_df = pd.merge(merged_df, last_credit.set_index('ID_CLIENT'), left_on='ID', right_on='ID_CLIENT', how='left')
merged_df = pd.merge(merged_df, loans.set_index('ID_CLIENT'), left_on='ID', right_on='ID_CLIENT', how='left')
merged_df = pd.merge(merged_df, close_loan, on='ID_LOAN', how='left')
print(merged_df.shape)
merged_df.head()

(22312, 27)

,ID,AGE,GENDER,EDUCATION,MARITAL_STATUS,CHILD_TOTAL,DEPENDANTS,SOCSTATUS_WORK_FL,SOCSTATUS_PENS_FL,REG_ADDRESS_PROVINCE,...,GEN_TITLE,JOB_DIR,WORK_TIME,AGREEMENT_RK,TARGET,CREDIT,TERM,FST_PAYMENT,ID_LOAN,CLOSED_FL
0,106805103,42,1,Среднее,Не состоял в браке,1,0,1,0,Московская область,...,Работник сферы услуг,Участие в основ. деятельности,3.0,60099204.0,1.0,5588.0,6.0,1000.0,1.753791e+09,0.0
1,106809308,28,1,Среднее специальное,Состою в браке,1,1,1,0,Читинская область,...,Специалист,Участие в основ. деятельности,5.0,62244665.0,0.0,19498.0,12.0,0.0,1.753796e+09,0.0
2,106805867,64,0,Среднее специальное,Состою в браке,2,0,1,1,Иркутская область,...,Руководитель высшего звена,Участие в основ. деятельности,360.0,61050759.0,0.0,15470.0,3.0,15000.0,1.753792e+09,1.0
3,106808779,54,1,Среднее специальное,Состою в браке,0,0,1,0,Новосибирская область,...,Специалист,Участие в основ. деятельности,3.0,62079659.0,0.0,13960.0,6.0,2500.0,1.753796e+09,0.0
4,106814289,26,0,Среднее специальное,Состою в браке,1,1,1,0,Красноярский край,...,Специалист,Участие в основ. деятельности,12.0,66583553.0,0.0,11890.0,6.0,8000.0,1.753802e+09,1.0

In [9]:
merged_df.shape

(22312, 27)

In [10]:
# удаление дубликатов
df = merged_df[~merged_df.duplicated()]
df.shape

(21903, 27)

In [11]:
df.columns

Index(['ID', 'AGE', 'GENDER', 'EDUCATION', 'MARITAL_STATUS', 'CHILD_TOTAL',
       'DEPENDANTS', 'SOCSTATUS_WORK_FL', 'SOCSTATUS_PENS_FL',
       'REG_ADDRESS_PROVINCE', 'FACT_ADDRESS_PROVINCE',
       'POSTAL_ADDRESS_PROVINCE', 'FL_PRESENCE_FL', 'OWN_AUTO',
       'FAMILY_INCOME', 'PERSONAL_INCOME', 'GEN_INDUSTRY', 'GEN_TITLE',
       'JOB_DIR', 'WORK_TIME', 'AGREEMENT_RK', 'TARGET', 'CREDIT', 'TERM',
       'FST_PAYMENT', 'ID_LOAN', 'CLOSED_FL'],
      dtype='object')

In [12]:
df.isna().sum()

ID                            0
AGE                           0
GENDER                        0
EDUCATION                     0
MARITAL_STATUS                0
CHILD_TOTAL                   0
DEPENDANTS                    0
SOCSTATUS_WORK_FL             0
SOCSTATUS_PENS_FL             0
REG_ADDRESS_PROVINCE          0
FACT_ADDRESS_PROVINCE         0
POSTAL_ADDRESS_PROVINCE       0
FL_PRESENCE_FL                0
OWN_AUTO                      0
FAMILY_INCOME               777
PERSONAL_INCOME             777
GEN_INDUSTRY               2540
GEN_TITLE                  2540
JOB_DIR                    2540
WORK_TIME                  2544
AGREEMENT_RK                777
TARGET                      777
CREDIT                      777
TERM                        777
FST_PAYMENT                 777
ID_LOAN                     777
CLOSED_FL                   777
dtype: int64

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21903 entries, 0 to 22311
Data columns (total 27 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       21903 non-null  int64
 1   AGE                      21903 non-null  int64
 2   GENDER                   21903 non-null  int64
 3   EDUCATION                21903 non-null  object
 4   MARITAL_STATUS           21903 non-null  object
 5   CHILD_TOTAL              21903 non-null  int64
 6   DEPENDANTS               21903 non-null  int64
 7   SOCSTATUS_WORK_FL        21903 non-null  int64
 8   SOCSTATUS_PENS_FL        21903 non-null  int64
 9   REG_ADDRESS_PROVINCE     21903 non-null  object
 10  FACT_ADDRESS_PROVINCE    21903 non-null  object
 11  POSTAL_ADDRESS_PROVINCE  21903 non-null  object
 12  FL_PRESENCE_FL           21903 non-null  int64
 13  OWN_AUTO                 21903 non-null  int64
 14  FAMILY_INCOME            21126 non-null  object
 15  PERSONAL_INCOME          21126 non-null  float64
 16  GEN_INDUSTRY             19363 non-null  object
 17  GEN_TITLE                19363 non-null  object
 18  JOB_DIR                  19363 non-null  object
 19  WORK_TIME                19359 non-null  float64
 20  AGREEMENT_RK             21126 non-null  float64
 21  TARGET                   21126 non-null  float64
 22  CREDIT                   21126 non-null  float64
 23  TERM                     21126 non-null  float64
 24  FST_PAYMENT              21126 non-null  float64
 25  ID_LOAN                  21126 non-null  float64
 26  CLOSED_FL                21126 non-null  float64
dtypes: float64(9), int64(9), object(9)
memory usage: 4.7+ MB

In [250]:
df[~df.duplicated('ID')].shape[0] == df.shape[0] # видим дубликаты есть, некоторые люди брали больше 1 займа

False

In [14]:
loans = df.groupby('ID')['ID_LOAN'].nunique().reset_index().rename({'ID_LOAN':'N_LOANS'}, axis=1).sort_values('N_LOANS', ascending=False)
loans["N_LOANS"].replace(0,1,inplace=True)

In [15]:
loans[loans["N_LOANS"]==0]

Empty DataFrame
Columns: [ID, N_LOANS]
Index: []

In [16]:
df = df.merge(loans, 'left')
df.isna().sum()

ID                            0
AGE                           0
GENDER                        0
EDUCATION                     0
MARITAL_STATUS                0
CHILD_TOTAL                   0
DEPENDANTS                    0
SOCSTATUS_WORK_FL             0
SOCSTATUS_PENS_FL             0
REG_ADDRESS_PROVINCE          0
FACT_ADDRESS_PROVINCE         0
POSTAL_ADDRESS_PROVINCE       0
FL_PRESENCE_FL                0
OWN_AUTO                      0
FAMILY_INCOME               777
PERSONAL_INCOME             777
GEN_INDUSTRY               2540
GEN_TITLE                  2540
JOB_DIR                    2540
WORK_TIME                  2544
AGREEMENT_RK                777
TARGET                      777
CREDIT                      777
TERM                        777
FST_PAYMENT                 777
ID_LOAN                     777
CLOSED_FL                   777
N_LOANS                       0
dtype: int64

In [21]:
df = df[~df.duplicated('ID')]
df.shape

(16000, 28)

Много колонок с int и float типами, которые на самом деле являются категориальными

In [22]:
to_category = ['CHILD_TOTAL', 'DEPENDANTS', 'SOCSTATUS_WORK_FL', 'SOCSTATUS_PENS_FL', 'FL_PRESENCE_FL', 'OWN_AUTO', 'TERM','TARGET', 'N_LOANS']

In [46]:
min(df.PERSONAL_INCOME)

1950.0

In [45]:
df.loc[4632,"PERSONAL_INCOME"] = df.loc[4632,"PERSONAL_INCOME"] * 1000

In [49]:
df.loc[4632,:]

AGE                                                   28
GENDER                                                 0
EDUCATION                                        Среднее
MARITAL_STATUS                            Состою в браке
CHILD_TOTAL                                            1
DEPENDANTS                                             1
SOCSTATUS_WORK_FL                                      1
SOCSTATUS_PENS_FL                                      0
REG_ADDRESS_PROVINCE                   Читинская область
FACT_ADDRESS_PROVINCE                  Читинская область
POSTAL_ADDRESS_PROVINCE                Читинская область
FL_PRESENCE_FL                                         0
OWN_AUTO                                               1
FAMILY_INCOME                     от 20000 до 50000 руб.
PERSONAL_INCOME                                  24000.0
GEN_INDUSTRY                      Государственная служба
GEN_TITLE                    Военнослужащий по контракту
JOB_DIR                    Участие в основ. деятельности
WORK_TIME                                           45.0
TARGET                                               0.0
CREDIT                                           63306.0
TERM                                                18.0
FST_PAYMENT                                       7034.0
CLOSED_FL                                            0.0
N_LOANS                                                1
Name: 4632, dtype: object

In [23]:
for col in to_category + list(df.select_dtypes('object').columns):
    df[col] = df[col].astype('category')
    
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16000 entries, 0 to 21902
Data columns (total 28 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       16000 non-null  int64
 1   AGE                      16000 non-null  int64
 2   GENDER                   16000 non-null  int64
 3   EDUCATION                16000 non-null  category
 4   MARITAL_STATUS           16000 non-null  category
 5   CHILD_TOTAL              16000 non-null  category
 6   DEPENDANTS               16000 non-null  category
 7   SOCSTATUS_WORK_FL        16000 non-null  category
 8   SOCSTATUS_PENS_FL        16000 non-null  category
 9   REG_ADDRESS_PROVINCE     16000 non-null  category
 10  FACT_ADDRESS_PROVINCE    16000 non-null  category
 11  POSTAL_ADDRESS_PROVINCE  16000 non-null  category
 12  FL_PRESENCE_FL           16000 non-null  category
 13  OWN_AUTO                 16000 non-null  category
 14  FAMILY_INCOME            15223 non-null  category
 15  PERSONAL_INCOME          15223 non-null  float64
 16  GEN_INDUSTRY             13856 non-null  category
 17  GEN_TITLE                13856 non-null  category
 18  JOB_DIR                  13856 non-null  category
 19  WORK_TIME                13855 non-null  float64
 20  AGREEMENT_RK             15223 non-null  float64
 21  TARGET                   15223 non-null  category
 22  CREDIT                   15223 non-null  float64
 23  TERM                     15223 non-null  category
 24  FST_PAYMENT              15223 non-null  float64
 25  ID_LOAN                  15223 non-null  float64
 26  CLOSED_FL                15223 non-null  float64
 27  N_LOANS                  16000 non-null  category
dtypes: category(18), float64(7), int64(3)
memory usage: 1.6 MB

Посчитаем число займов на клиента

Некоторые колонки для EDA не понадобятся, удалим их

In [25]:
df = df.drop(['AGREEMENT_RK', 'ID_LOAN','ID'], axis=1)

In [26]:
df['TARGET'].value_counts()

0.0    13411
1.0     1812
Name: TARGET, dtype: int64

In [27]:
numerical_columns = df.select_dtypes(include=['int64', 'float64']).columns
categorical_columns = df.select_dtypes(include=['category']).columns
(len(numerical_columns) + len(categorical_columns)) == df.shape[1]

True

Заполним пропуски медианами в случае числовых переменных и модами в случае категориальных

In [28]:
df[numerical_columns] = df[numerical_columns].fillna(df[numerical_columns].median())
df[categorical_columns] = df[categorical_columns].apply(lambda x: x.fillna(x.mode().iloc[0]))

df.isna().sum()

AGE                        0
GENDER                     0
EDUCATION                  0
MARITAL_STATUS             0
CHILD_TOTAL                0
DEPENDANTS                 0
SOCSTATUS_WORK_FL          0
SOCSTATUS_PENS_FL          0
REG_ADDRESS_PROVINCE       0
FACT_ADDRESS_PROVINCE      0
POSTAL_ADDRESS_PROVINCE    0
FL_PRESENCE_FL             0
OWN_AUTO                   0
FAMILY_INCOME              0
PERSONAL_INCOME            0
GEN_INDUSTRY               0
GEN_TITLE                  0
JOB_DIR                    0
WORK_TIME                  0
TARGET                     0
CREDIT                     0
TERM                       0
FST_PAYMENT                0
CLOSED_FL                  0
N_LOANS                    0
dtype: int64

In [ ]:
reg_addr == fact_addr?

In [ ]:
personal_income == family_income

In [50]:
df.to_csv('data.csv', index=False)